body{
    background-color: rgb(98, 177, 206);
    
}

.delete-button{
    background-color: lightseagreen;
    color: white;
    padding: 15px;
    margin-left: 10px;
}

header{
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;

}
#header i{
    padding: 15px;
    margin-right: 10px;
    align-items: center;

}
.NewDiv{
    border: 2px solid black;
}

button{
    padding: 15px;
    margin-left: 20px;
}

dialog{
    /* display: flex; */
    pointer-events: auto;
    flex-direction: column;
    gap:15px;
    width: 500px;
    height: 600px;
}

dialog label, dialog input, dialog textarea{
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
}

dialog textarea{
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    font-size: 26px;
    line-height: 1.5;
    resize: none;
}

#TaskName{
    width: 500px;
}

#dropDownMenu{
    padding: 15px;
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
}


.modal-footer button{
    border-radius: 15%;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    width:150px
}

#dialog h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    border-bottom: 2px solid black;

}

hr{
    border: none;
    height:3px;
    background-color: black;
}

#main-container h2{
    font-size: 30px;
}


.task-item{
    font-size: 36px;
}

/* Priority button color change */
.priority-button {
    padding: 8px 12px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: default;
    margin-right: 10px;
}

.priority-high {
    background-color: red;
}

.priority-low {
    background-color: green;
}

.task-item{
    font-size: 26px;
    border: 2px solid black;
    padding: 10px;
}

.task-item button {
    padding: 15px;
    width: 150px;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
}



#newProjectButton,#deleteProjectButton,#openDialog{
    padding: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    border-radius: 5%;
    background-color: black;
    color: aqua;
}

#projectSelector{
    font-size: 24px;
}

#project-management label{
    font-size: 24px; 
}